/* team.css */
/* Estilos exclusivos para la página del equipo */
.team-members {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.team-member {
  flex: 1 1 200px;
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
